*.class
*.log
*.pyc
*.pyo
*~
.DS_Store
.idea/
.project
.pydevproject
.python-version
.sass-cache/
.settings/
.tox/
Authomatic.egg-info/
bin/
bootstrap/bootstrap.py
bower_components/
build/
config.py*
config_secret.py
dist/
doc/build
e
e2/
e3/
examples/gae/credentials/authomatic
examples/gae/credentials/openid
examples/gae/dev/authomatic
examples/gae/dev/openid
examples/gae/extras/authomatic
examples/gae/extras/openid
examples/gae/showcase/authomatic
examples/gae/showcase/openid
examples/gae/simple/authomatic
examples/gae/simple/openid
examples/gae/tester/authomatic
examples/gae/tester/openid
ghostdriver.log
logs-repo
venv/
venv26
virtualenv/
