*.class
*.pyc
*.pyo
*~
doc/build
build/
config.py
config_public.py
.pydevproject
.project
.sass-cache/
.settings/
Authomatic.egg-info/
dist/
venv/
virtualenv/
examples/gae/showcase/authomatic
examples/gae/showcase/openid
examples/gae/dev/authomatic
examples/gae/dev/openid
examples/gae/extras/authomatic
examples/gae/extras/openid
examples/gae/credentials/authomatic
examples/gae/credentials/openid
examples/gae/simple/authomatic
examples/gae/simple/openid
examples/gae/tester/authomatic
examples/gae/tester/openid
.idea/
bootstrap/bootstrap.py
venv26
bower_components/
.DS_Store
ghostdriver.log
e3/
e2/
e
.tox/
*.log
