include *.txt *.rst
include javascript/authomatic.js
recursive-include examples *.py *.yaml *.html *.js *.css
recursive-include doc/build/html *.html *.js *.css *.ico *.jpg *.png *.gif *.svg *.inv *.xml *.txt
global-exclude config.py*
global-exclude config_public.py*