Chameleon==2.11
Django==1.5.2
Flask==0.10.1
Jinja2==2.7.1
Mako==0.8.1
MarkupSafe==0.18
PasteDeploy==1.5.0
WebOb==1.2.3
Werkzeug==0.9.3
argparse==1.2.1
distribute==0.6.34
fuzzywuzzy==0.2
ipdb==0.7
ipython==1.0.0
itsdangerous==0.23
lettuce==0.2.18
py==1.4.15
pyramid==1.4.3
pytest==2.3.5
python-openid==2.2.5
repoze.lru==0.6
selenium==2.35.0
sure==1.2.2
translationstring==1.1
venusian==1.0a8
wsgiref==0.1.2
zope.deprecation==4.0.2
zope.interface==4.0.5
