{% extends 'base.html' %}

{% macro providers(providers) %}
	<ul class="small-block-grid-1 large-block-grid-3">
	{% for k, v in providers %}
		{% set name = v._name or k|capitalize %}
		<li>
			<a class="authomatic provider-button {{ k }}" href="login/{{ k }}">
				{{ name }} <img src="{{ v._icon }}" />
			</a>
		</li>
	{% endfor %}
	</ul>
{% endmacro %}

{% macro form(url) %}
	<form class="authomatic" action="login/{{ url }}">
		<div class="row collapse">
			<div class="large-7 small-8 columns">
				<input type="text" name="id" placeholder="Your claimed ID">
			</div>
			<div class="large-5 small-4 columns">
				<input type="submit" class="button postfix radius" value="Authenticate" />
			</div>
		</div>
	</form>
{% endmacro %}

{% block scripts %}

<script type="text/javascript" src="static/js/authomatic.js"></script>

{% endblock %}

{% block body %}
<div id="header">
	<div class="row">
		<div class="large-12 columns">
			<img id="logo" src="static/img/dark-horizontal.svg" />
		</div>
	</div>
</div>

<div id="sub-header">
	<div class="row">
		<p id="motto">
			Example of the Authomatic Python library.
		</p>
	</div>
</div>

<div id="user" class="hidden">
	<div class="row">
		<div class="small-8 columns info">
			<a id="test" class="button" href="" target="_blank">TEST</a>
			<h1>Hi <span id="user-name"></span></h1>
			<h5>You are logged in with</h5>
			<h3><span id="user-provider"></span></h3>
			<h5>Your email is</h5>
			<h3><span id="user-email"></span></h3>
			<h5>Your ID is</h5>
			<h3><span id="user-id"></span></h3>
		</div>
		<div class="small-4 columns">
			<img id="user-picture" />
		</div>
	</div>
	<div class="row">
		<div class="large-12 columns">
			<div id="user-apis"></div>
			<div id="user-data-wrapper">
				<div id="user-data-loader" class="hidden">Loading ...</div>
				<pre id="user-data" class="prettyprint"></pre>
			</div>
		</div>
	</div>
</div>

<div id="error" class="hidden">
	<div class="row">
		<div class="large-12 columns">
			Error: <span id="error-message"></span>
		</div>
	</div>
</div>

<div class="row">
	<div class="large-12 columns">
		<h1>Authentication</h1>
	</div>
</div>

<div class="row">
	<div class="large-4 columns">
		<h3>OpenID</h3>
		{{ form('openid') }}
	</div>
	<div class="large-4 columns">
		<h3>GAE OpenID</h3>
		{{ form('gae-openid') }}
	</div>
	<div class="large-4 columns">
		<h3>Mozilla Persona</h3>
		{{ form('persona') }}
	</div>
</div>

<div class="row">
	<div class="large-12 columns">
		<h1>Authorisation</h1>
	</div>
</div>

<div class="row">
	<div class="small-6 columns">
		<h3>OAuth 1.0a</h3>
		{{ providers(oauth1) }}
	</div>
	<div class="small-6 columns">
		<h3>OAuth 2.0</h3>
		{{ providers(oauth2) }}
	</div>
</div>
{% endblock %}
{% block script %}
<script type="text/javascript">
	
	/*
	(function($){
		window.authomatic = {};
		window.authomatic.popup = {};
		window.authomatic.popup.width = 600;
		window.authomatic.popup.height = 400;
		window.authomatic.popup.validator = function($form){return true};
		
		function w(url){
			var width = window.authomatic.popup.width;
			var height = window.authomatic.popup.height;
			var top = (screen.height / 2) - (height / 2);
			var left = (screen.width / 2) - (width / 2);
			var settings = 'width=' + width + ',height=' + height + ',top=' + top + ',left=' + left;
			window.open(url, 'authomatic:' + url, settings);
		}
		
		$(document).ready(function () {
			$('a.authomatic').click(function (e) {
				e.preventDefault();
				var url = $(e.target).attr('href');
				w(url);
			});
			
			$('form.authomatic').submit(function (e) {
				e.preventDefault();
				var $form = $(e.target);
				var url = $form.attr('action') + '?' + $form.serialize();
				if(window.authomatic.popup.validator($form)){
					w(url);
				}
			});
		});
	})($);
	
	authomatic.popup.width = 1000;
	authomatic.popup.height = 600;
	*/
	
	$(document).ready(function (e) {
		
		$().authomatic.popup();
		
		// disable empty form
		
		window.loginCallback = function(result){
			if(result.user){
				$('#error').slideUp(1000, function () {
					
					var jsonParam = {
						"credentials": result.user.credentials,
						"url": "https://example.com",
						"method": "POST" 
					};
					var testURL = 'login/?json=' + encodeURIComponent(JSON.stringify(jsonParam));
					$('#test').attr('href', testURL);
					
					$('#user-name').html(result.user.name);
					$('#user-id').html(result.user.id);
					$('#user-email').html(result.user.email);
					$('#user-picture').attr('src', result.user.picture);
					$('#user-data').html(JSON.stringify(result.user.content, undefined, 4));
					$('#user-provider').html(result.provider_name);
					$('#user').slideDown(2000);
					
					if(result.apis){
						$apis = $('#user-apis');
						
						for (var i in result.apis){
							api = result.apis[i];
							
							var $a = $('<a class="button radius" />');
							$a.html(api);
							
							$a.click(function(e){
								e.preventDefault();
								
								$('#user-data').slideUp('fast', function(){
									$('#user-data-loader').slideDown('fast');
								});
								
								var data = {
									provider: result.provider_name,
									api: api,
									credentials: result.user.credentials,
									user_id: result.user.id
								}
								
								$.get('action', data).done(function (data) {
									$('#user-data-loader').slideUp('fast', function(){
										$('#user-data').slideDown('fast');
									});
									
									$('#user-data').html(JSON.stringify(JSON.parse(data), undefined, 4));
								});
							})
							
							$apis.append($a);
						}
					}
					
				});
			}else if(result.error){
				$('#user').slideUp(2000, function () {
					$('#error-message').html(result.error.message);
					$('#error').slideDown(1000);
				});
			}
		};
	});
</script>
{% endblock %}