<!DOCTYPE >
<html>
	<head>
		<title>Test</title>
	</head>
	<body>
		<form action="../json" target="_blank">
			<input type="text" name="credentials" value="5%0A1.5%0A1186245026-TI2YCrKLCsdXH7PeFE8zZPReKDSQ5BZxHzpjjel%0A1Xhim7w8N9rOs05WWC8rnwIzkSz1lCMMW9TSPLVtfk" />
			<input type="text" name="url" value="https://api.twitter.com/1.1/statuses/user_timeline.json" />
			<input type="text" name="method" value="GET" />
			<input type="text" name="params" value="" />
			<input type="text" name="type" value="fetch" />
			<input type="submit" />
		</form>
	</body>
</html>