{# base.html #}
<!DOCTYPE html>
<html>
    <head>
        <title>Authomatic Functional Test</title>
    </head>
    <body>
        <h1>Providers</h1>
        <ul>
            {% for provider in providers %}
            <li>
                <a	id="{{ provider }}"
                    href="{{ url_for('login', provider_name=provider) }}">
                    {{ provider }}
                </a>
            </li>
            {% endfor %}
        </ul>
        {% block body %}{% endblock %}
    </body>
</html>