{# base.html #}
<!DOCTYPE html>
<html>
    <head>
        <title>Authomatic Functional Test</title>
        <script src="https://google-code-prettify.googlecode.com/svn/loader/run_prettify.js?skin=sunburst"></script>
    </head>
    <body>
        <h1>Providers</h1>
        <ul>
            {% for provider in providers %}
            <li>
                <a	id="{{ provider }}"
                    href="login/{{ provider }}">
                    {{ provider }}
                </a>
            </li>
            {% endfor %}
        </ul>
        {% block body %}{% endblock %}
    </body>
</html>