{# base.html #}
<!DOCTYPE html>
<html>
    <head>
        <title>Authomatic Functional Test</title>
        <script src="https://google-code-prettify.googlecode.com/svn/loader/run_prettify.js?skin=sunburst"></script>
        <style>
          .hidden {
            height: 0px;
            line-height: 0px;
            overflow: hidden;
            color: transparent;
            margim: 0;
            padding: 0;
          }
        </style>
    </head>
    <body>
        <h1>Providers</h1>
        <ul>
            {% for provider in providers %}
            <li>
                <a id="{{ provider._path }}"
                    href="/login/{{ provider._path }}">
                    {{ provider._path }}
                </a>
            </li>
            {% endfor %}
        </ul>
        <h2>OpenID</h2>
        <form action="/login/openid">
          <input type="text" name="id" />
          <input type="submit" value="login" />
        </form>
        {% block body %}{% endblock %}
    </body>
</html>